<div align="center">
<h1 style="margin-bottom:0;"><img src="<%= model.headshot_20x30_url() %>"/> <%- model.name() %></h1>
<h4 style="margin-top:0;font-size:75%;"><font color="#ddd">{<%- model.uuid() %>}</font></h4>

<h2>Personalia</h2>
<table>
  <tr>
    <td>Fullt navn:</td>
    <td><input id="fullname" type="text" size="60" value="<%- model.fullname() %>"></input></td>
  </tr>
  <tr>
    <td>Navn:</td>
    <td><input id="name" type="text" size="60" value="<%- model.name() %>"></input></td>
    <td>Land:</td>
    <td><input id="country" type="text" size="10" value="<%- model.country() %>"></input></td>
  </tr>
  <tr>
    <td>Kortnavn:</td>
    <td><input id="shortname" type="text" size="60" value="<%- model.shortname() %>"></input></td>
  </tr>
  <tr>
    <td>Lag:</td>
    <td><select id="team">
        <option value="" selected>(select team:)</option>
        <% for (var idx = 0; idx < teams.length; idx = idx + 1) {
              var selected = (teams.at(idx).uuid() === model.teamid()) ? "selected" : ""; %>
        <option value="<%= teams.at(idx).uuid() %>" <%= selected %>><%- teams.at(idx).shortname() %></option>
        <% } %>
    </select></td>
    <td>Trøye:</td>
    <td><input id="number" type="text" size="10" value="<%= model.number() %>"></input></td>
  </tr>
  <tr>
    <td>Aliaser:</td>
    <td><input id="aliases" type="text" size="60" value="<%- model.aliases() %>"></input></td>
  </tr>
  <tr>
    <td>Aktiv:</td>
    <td><input id="active" type="checkbox" <%- model.active() ? "checked" : "" %>></input></td>
  </tr>
</table>

<h2>Portrettbilder</h2>
<table>
  <tr>
    <td align="center">20x30</td>
    <td><input id="headshot30" type="text" size="60" value="<%= model.headshot_20x30_url() %>"></input></td>
  </tr>
  <tr>
    <td align="center">40x60</td>
    <td><input id="headshot60" type="text" size="60" value="<%= model.headshot_40x60_url() %>"></input></td>
  </tr>
  <tr>
    <td align="center">80x120</td>
    <td><input id="headshot120" type="text" size="60" value="<%= model.headshot_80x120_url() %>"></input></td>
  </tr>
  <tr>
    <td align="center">160x240</td>
    <td><input id="headshot240" type="text" size="60" value="<%= model.headshot_160x240_url() %>"></input></td>
  </tr>
</table>

<h2> Linker </h2>
<table>
<% for (var linkidx in model.links()) { %>
  <tr>
    <td><%- parseInt(linkidx,10) + 1 %></td>
    <td><input id="link<%- (parseInt(linkidx,10)+1) %>" type="text" size="60" value="<%- model.links()[linkidx] %>"></input></td>
  </tr>
<% } %>
  <tr>
    <td><%- (model.links().length || 0) + 1 %></td>
    <td><input id="newlink" type="text" size="60" value=""></input></td>
  </tr>
</table>

<p></p>
</div>
