<div id="hei">
  <h1 align="center">Dashboard</h1>
  <!-- <div id="upcomingmatches">
  </div>
  <div id="previousmatches">
  </div> -->
  <div style="margin:25px;">
    The plan for this page is to present the closest upcoming matches within
    some timeframe (per league), and the previous couple of matches played.
    To implement this, the matches section must be implemented first, which
    depends on all the other sections.  Still a bit off, in other words...

    <p>
    <h2>ChangeLog</h2>
    <dl>
      <dt>2015-07-28</dt>
      <dd>Players section is more or less completed, with the exception of
      attaching players to teams (by uuid) from combo-box (need to prefetch
      teams list), and combo-box for editing nationality. Player headshots
      needs transparent background instead of white.
      Teams section is next for a facelift.</dd>
    </dl>
  </div>
</div>
