<h1 align="center"><img src="<%= model.headshot_20x30_url() %>"/> <%= model.name() %></h1>

<div align="center">
<table>
  <tr>
    <td>Name:</td>
    <td><input id="name" type="text" size="60" value="<%= model.name() %>"></input></td>
  </tr>
  <tr>
    <td>Shortname:</td>
    <td><input id="shortname" type="text" size="60" value="<%= model.shortname() %>"></input></td>
  </tr>
  <tr>
    <td>Aliases:</td>
    <td><input id="aliases" type="text" size="60" value="<%= model.aliases() %>"></input></td>
  </tr>
  <tr>
    <td>Team:</td>
    <td><input id="team" type="text" value="Rosenborg"></input></td>
  </tr>
  <tr>
    <td>Number:</td>
    <td><input id="number" type="text" value="<%= model.number() %>"></input></td>
  </tr>
  <tr>
    <td>Headshot 20x30:</td>
    <td><input id="headshot30" type="text" size="60" value="<%= model.headshot_20x30_url() %>"></input></td>
  </tr>
  <tr>
    <td>Headshot 40x60:</td>
    <td><input id="headshot60" type="text" size="60" value="<%= model.headshot_40x60_url() %>"></input></td>
  </tr>
  <tr>
    <td>Headshot 80x120:</td>
    <td><input id="headshot120" type="text" size="60" value="<%= model.headshot_80x120_url() %>"></input></td>
  </tr>
  <tr>
    <td>Active:</td>
    <td><input id="active" type="checkbox" value="<%= model.active() %>"></input></td>
  </tr>
</table>
</div>

<div align="center">
  <a id="save" class="button button-rounded button-small" alt="[Save]"><i class="fa fa-save"> Save</i></a>
  <a id="reset" class="button button-rounded button-small" alt="[Reset]"><i class="fa fa-eraser"> Reset</i></a>
  <a id="abort" class="button button-rounded button-small" alt="[Abort]"><i class="fa fa-remove"> Abort</i></a>
</div>
