<h1 align="center"><%= model.name() %></h1>

<h1 align="center"><img src="<%= model.logo_30() %>"/> <%= model.name() %></h1>

<div align="center">
<table>
  <tr>
    <td>Name:</td>
    <td><input id="name" type="text" size="60" value="<%= model.name() %>"></input></td>
  </tr>
  <tr>
    <td>Shortname:</td>
    <td><input id="shortname" type="text" size="60" value="<%= model.shortname() %>"></input></td>
  </tr>
  <tr>
    <td>Abbreviation:</td>
    <td><input id="abbreviation" type="text" size="60" value="<%= model.abbreviation() %>"></input></td>
  </tr>
  <tr>
    <td>Logo 30:</td>
    <td><input id="logo30" type="text" size="60" value="<%= model.logo_30() %>"></input></td>
  </tr>
  <tr>
    <td>Logo 60:</td>
    <td><input id="logo60" type="text" size="60" value="<%= model.logo_60() %>"></input></td>
  </tr>
  <tr>
    <td>Logo 120:</td>
    <td><input id="logo120" type="text" size="60" value="<%= model.logo_120() %>"></input></td>
  </tr>
</table>
</div>

<div align="center">
  <a id="save" class="button button-rounded button-small" alt="[Save]"><i class="fa fa-save"> Save</i></a>
  <a id="reset" class="button button-rounded button-small" alt="[Reset]"><i class="fa fa-eraser"> Reset</i></a>
  <a id="abort" class="button button-rounded button-small" alt="[Abort]"><i class="fa fa-remove"> Abort</i></a>
</div>

